
/* Your CSS Code here. */
.player {
  max-width: 765px;
  margin: 20px auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.viewer {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #eee;
}

.player__button, .skip {
  font-size: 16px;
  margin: 0 5px;
}

.player__slider {
  margin: 0 10px;
}

.progress {
  flex: 1;
  height: 10px;
  background: #ccc;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
}

.progress__filled {
  width: 0;
  background: #f00;
  flex-basis: 0%;
}
